<% layout("./Layouts/boilerplate") %>
    <h1>All listings</h1>
    <div class="flex">
        <% for( list of Alllistings  ) { %>
          <a href="/listings/<%= list._id %>">
            
            <div class="card" style="width: 18rem;">
                <img src="<%= list.image %>" height="345px" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><%= list.title %> <br>
                    &#8377;  <%= list.price.toLocaleString("en-IN")%> / night
                </p>
                
                </div>
              </div>
            
          </a>
        <% } %>

    </div>

     
    
