.navbar{
    height: 7rem;
    background:linear-gradient(white,rgb(225, 219, 226),whitesmoke);
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.nav-link:hover{
    color:#fe424d !important;
     text-decoration: underline;
}

.f-info-socials{
 display: flex;
 justify-content: center;
 column-gap: 15px;
}

.f-info{
    text-align: center;   
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    column-gap: 15px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    border: none;  
}

.card:hover{
    opacity: 0.8;
}

.card-img-top{
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
}

.card-text{
    font-weight: 500;
}

a{
    text-decoration: none;
}

div form button{
    background-color: rgb(40, 108, 131);
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 95px;
    height: 40px;
}

.md-center{
    width: 60vw;
    margin: auto;
}

h2{
text-align: center;
}
img{
    margin: auto;
    border-radius: 10px;
}

.first{
    display: flex;
    column-gap: 20px;
}

#del{
    background-color: #c90c0c;

}

#card{
    margin-top: 50px;
    border: 2px solid black;
    padding: 5px;
    
}

.about-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.team-member {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.team-member .info {
    max-width: 70%;
}
.contact-section {
    background-color: #f8f9fa;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-form {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
}
.me{
    image-rendering: pixelated;
    padding:10px;
}

.contact-form .form-control {
    border-radius: 4px;
}

.btn-primary {
    background-color: rgb(207, 178, 108);
    border: none;
    color: #ffffff;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #8f7547;
    color: #ffffff;
}
